<div class="contentHeight">
  <h1 class="font-weight-light">APILyzer</h1>
  <p>Get the complete analysis of your API in one place</p>
  <div class="fileUploadDiv d-flex align-items-center justify-content-around">
    <input type="text" class="uploadInput" readonly="true" placeholder="Upload your API definition" [(ngModel)]="value">
    <input type="file" #fileInput id="file-upload">
    <button class="btn uploadButton btn-link"><label for="file-upload" class="m-0 text-primary cursor-pointer">UPLOAD</label></button>
  </div>
</div>
