.contentHeight{
  height: calc(100vh - 144px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileUploadDiv{
  background-color: #F16334;
  width: 35%;
  height: 75px;
}

.uploadButton{
  background-color: white;
  width: 25%;
  height: 80%;
}

.uploadInput{
  background-color: #F4825D;
  width: 65%;
  height: 80%;
  border-style: none;
  text-align: center;
}

::placeholder {
  color: #DDD;
}

#file-upload {
  height: 1px;
  width: 1px;
  visibility: hidden;
  opacity: 0;
}
