<div class="container">
  <div class="row">
    <div class="col-3">
      <app-pie-grid name="Standard" [value]="90"></app-pie-grid>
    </div>
    <div class="col-3">
      <app-pie-grid name="Ease of Use" [value]="80"></app-pie-grid>
    </div>
    <div class="col-3">
      <app-pie-grid name="Security" [value]="40"></app-pie-grid>
    </div>
    <div class="col-3">
      <app-pie-grid name="Performance" [value]="70"></app-pie-grid>
    </div>

  </div>

  <br>

  <app-rule-set
    *ngFor="let rule of rules"
    [ruleSet]="rule">
  </app-rule-set>



</div>
