<section>
  <a (click)="isCollapsed = !isCollapsed"
     [attr.aria-expanded]="!isCollapsed"
     aria-controls="collapseBasic">
    <div class="card card-header font-weight-bold">
      {{ issues.summary }}
    </div>
  </a>
  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="card card-body">
      <p class="card-text">{{ issues.description }} </p>
      <h6 style="text-decoration: underline">REMEDY:</h6>
      <p class="card-text">{{ issues.remedy }} </p>
    </div>
  </div>
  <br>
</section>
