<section>

    <div class="position-relative">
      <div class="card card-header text-primary cursor-pointer">
        <div>
          <a (click)="isCollapsed = !isCollapsed"
             [attr.aria-expanded]="!isCollapsed"
             aria-controls="collapseBasic">
          {{ issues.summary }}
          </a>
        </div>
      </div>
      <div class="position-absolute issue-fix">
        <button class="btn btn-link text-danger"><i class="fas fa-wrench"></i>&nbsp;&nbsp;Fix</button>
      </div>
    </div>

  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="card card-body">
      <p class="card-text">{{ issues.description }} </p>
      <h6 style="text-decoration: underline">REMEDY:</h6>
      <p class="card-text">{{ issues.remedy }} </p>
    </div>
  </div>
  <br>
</section>
