.bg-header {
  background-color: #0D416A;
}

body {
  font-family: 'Roboto', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  color: #666
}

.pie-grid-item:nth-child(1) {
  display: block;
}
.pie-grid-item {
  display: none;
}

.border-radius-50 {
  border-radius: 50px;
}


text[ngx-charts-count-up]:not(.percent-label) { display: none; }
